<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />

  <title></title>
  <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
<div id="root">
<!--  @submit.prevent页面不变-->
  <form  @submit.prevent = 'sub'>
    账号：<input type="number" v-model.number="account"> <br/><br/>
    密码：<input type="password" v-model= "psw"> <br/><br/>
    性别：
    男<input type="radio" name="sex"  v-model="sex" value="male">
    女<input type="radio" name="sex" v-model="sex" value="fmale"><br/><br/>
    爱好：
    学习<input type="checkbox" v-model="hobby" value="study">
    吃饭<input type="checkbox" v-model="hobby" value="eat">
    打游戏<input type="checkbox" v-model="hobby" value="play">
    <br/><br/>
    所属校区
    <select v-model="area" >
      <option  value="" >请选择校区</option>
      <option  value="beijing" >北京</option>
      <option   value="shanghai" >上海</option>
      <option  value="guangzhou" >广州</option>
    </select>
    <br/><br/>
<!--    lazy:失去焦点再收集数据-->
    其他信息：
    <textarea v-model.lazy="other"></textarea>
    <br/><br/>
    <input type="checkbox" v-model="yes">
    阅读并接受<a href="https://www.baidu.com/?tn=21002492_6_hao_pg">《用户协议》</a>
    <br/><br/>
    <button>提交</button>
  </form>

</div>

<script type="text/javascript" >
  Vue.config.productionTip = false //阻止vue在启动时生成生产提示
   new Vue({
    el:'#root',
    data:{
      userInfo:{},
      account:'',
      psw:'',
      sex:'',
      hobby:[],
      area:'',
      other:'',
      yes:''
    },
    methods:{
      sub(){
        console.log(JSON.stringify(this._data))
      }
    }

  })


</script>
</body>
</html>